Header set Access-Control-Allow-Origin "*"

<FilesMatch "\.searchindex$">
    Header set Access-Control-Allow-Origin "*"
    Header set Content-Type "application/protobuf"
    Header set Content-Encoding zstd
</FilesMatch>
